* {
    padding: 0;
    margin: 0;
}

body {
   /* background: blue;*/

    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    font-family: arial, sans-serif;
    text-decoration: none;
}

header {
    background-color: #f8d117;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin-left: 70px;
    font-size: 30px;
    color: #0a39ab
}

main {
    background-color: white;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome {
    align-self: end;
    background-color: #1194f6;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 0px 4px 5px rgba(0,113,198, 0.29);
    cursor: pointer
}

.welcome:hover {
    box-shadow: 0px 4px 5px rgba(0,0,0, 0.49);
}

.card {
    background-color: #F8D117;
    width: 350px;
    height: 350px;

    padding: 15px;
    border: 1px solid rgba(153, 153, 153, .2);
    box-shadow: 0px 2px 5px 1px rgba(153, 153, 153, .3);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card h2 {
    font-size: 23px;    
    color: #0a39ab;
}


.info {
    font-size: 12px;
    text-align: center;
}

.card label {
    display: block;   
    padding-bottom: 10px;
    color: #333;
}

.card input[type=submit] {
    height: 50px;    
    width: 300px;
    background-color: #1194f6;
    color: #fff;
    text-decoration: none;    
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.card input[type=text] {   
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 50px;
    width: 300px;
    text-align: center;
    font-size: 16px;

    outline: none;
}

.normal {
    background-color: #f9e867;
    border-bottom: 3px solid #cab734;
}

.card input[type=text]:focus {
    background-color: #f9e867;
    border-bottom: 3px solid #1194f6;    
    outline: none;
}

.alerta {
    background-color: #f9e867;
    border-bottom: 3px solid red;    
    outline: none;
}

footer {
    /*background-color: #000;    */

    display: flex;
    justify-content: center;
}

.box-footer {
    background-color: #1194f6;
    width: 350px;
    height: 50px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box-footer span {
    background-color: white;
    text-align: center;
    color: rgba(0,113,198, 0.89);
    font-weight: 700;

    width: 20px;
    height: 20px;
    padding: 10px;

    border-radius: 50%;
   
    border: 3px solid rgba(0,113,198, 0.89)
}

.erro{
    align-self: center;
    background-color: #ff2d2d;
    color: white;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 100px;
    box-shadow: 0px 4px 5px rgba(47, 48, 49, 0.29);
}